<h1>Fire Emblem Database
</h1>

<h2>To Find The Starting Items Of Each Hero
</h2>

<form class="form-horizontal episode">

  <input id="maps" class="col-sm-10" type="text">
  
  <button class="search btn btn-submit">Search</button>
  
</form>

<h3>Search Results:
</h3>

	<ul class="search_results">

	</ul>

<div id="unit">
</div>

<div id="startingClass">
</div>

<div id="weaponTypes">
</div>

<div id="promotion">
</div>

<div id="items">
</div>

<div id="unit_startingClass">
</div>

<div id="startingClass_weaponTypes">
</div>

<div id="startingClass_promotion">
</div>

<div id="unit_items">
</div>

<div id="unit_items_search">
</div>